img
{
    outline-width:0;
    vertical-align:top;
}
body
{
    color: white;
    margin:0 5% 0;font-family:sans-serif;

    background-color: #E8EAF6;
}
a
{
    color: #00B0FF;

}
div.title
{
    background-color:#1A237E;
    padding: 1em 0 1em 1em;
}

div.vice-title
{
    background-color:#3F51B5;
    padding: 0.3em 0.4em;
}

.vice-title a
{
    margin:0.6em;
    color:#00B0FF;
}

div.footer
{
    background-color:#1A237E;
    padding: 1.3em 0 1.3em 1em;
}


span.SYT
{
    margin:0 0;
    font-size: 1.5em;
}

span.Italic
{
    margin:0 0;
    font-family:"Times New Roman",sans-serif;
}


p.footer
{
    margin: 0 0 0.6em 0;
}
p.Copyright
{
    margin: 0 0 0 0;
}

.body a
{
    font-family:"Times New Roman",sans-serif;
    color:#00B0FF;
}


div.body
{
    margin:0.5em 0;
}

div.body1
{
    background-color: white;
    padding:0.5em;
}

div.body2
{
    background-color: white;
    padding:0 0.5em 0.5em 0.5em;
}

div.body3
{
    background-color: white;
    padding:0 0.5em 0.5em 0.5em;
}

div.NYCP
{
    background-color:#7986CB;
    padding: 1em 0 1em 1em;
    margin: 0;
}

div.photo
{
    padding:0;
    margin:0;
    min-width:600px;
}

div.explain
{
    background-color:#C5CAE9;
    padding: 0.5em 0 0.5em 1em;
    margin:0;
}

span.explain
{
    font-family:"Times New Roman",sans-serif;
    color:#7990A3;
}

div.time
{
    color:black;
    padding: 0.5em 1em 0.5em 1em;
    margin:0;
    border-style: none solid;
    border-left-color: #C5CAE9;
    border-right-color: #C5CAE9;
}

div.Options
{
    text-align: right;
    padding: 0.5em 1em 0.5em 1em;
    margin:0;
    border-style: none solid solid;
    border-left-color: #C5CAE9;
    border-right-color: #C5CAE9;
    border-bottom-color: #C5CAE9;
}

div.photos
{
    border-style: none solid solid;
    border-left-color: #C5CAE9;
    border-right-color: #C5CAE9;
    border-bottom-color: #C5CAE9;
}

div.Cmt
{
    font-family:"Times New Roman",sans-serif;
    padding-bottom: 1em;
    border-style: none solid solid;
    border-left-color: #C5CAE9;
    border-right-color: #C5CAE9;
    border-bottom-color: #C5CAE9;
}

div.name
{
    padding:0.5em 1em 0.5em 1em;
    margin:0;
    color:#C5CAE9;

}

span.time
{
    color:#F5A2C1;

}

div.comment
{
    padding:0 1em 0 1em;
    color:black

}

.vice-title a:hover
{
    color:white;
    padding:0.3em;
    background-color: #F50057;
    display:inline;
}

.NYCP a
{
    font-family:sans-serif;
    color: white;
}

div.time
{
    font-family:"Times New Roman",sans-serif;
}